
<div id="backg">

   	<p>
		<h1 id="he"> Edit the content</h1>
		<hr/>
	</p>

	<% if @content.errors.any? %>
		<div class="row">
			<div class="alert alert-danger col-md-8 col-md-offset-2">
			<h5>plz correct the following errors:</h5>
			<ul>
				<% @content.errors.full_messages.each do |msg| %>
				<li><%=msg %></li>
				<% end %>
			</ul>
			</div>
		</div>
    <% end %>

		<div class="row">
			<div class="well col-md-8 col-md-offset-2">
				<%= form_for(@content, html: { multipart: true }) do |f| %>
					<%= f.label :name %>
					<%= f.text_field :name %>
		
					<%= f.label :summary %>
					<%= f.text_field :summary %>
		
					<%= f.label :description %>
					<%= f.text_area :description, rows: 10 %>
		
					<hr/>
				  <span class="pictureup">
					<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
				  </span>
					<%= f.submit 'Edit Post', class: "btn btn-success" %>
				<% end %>
		
			</div>
		</div>
		<script type="text/javascript">
		$('#content_picture').blind('change', function(){
			size_in_megabytes = this.files[0].size/1024/1024;
			if(size_in_megabytes > 5){
				alert('max file size is 5mb');
			}
		});
		</script>
</div>
